.row
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
    .row.margin-bottom-lg
      .col-xs-12
        %br
        %br
        = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
          = f.input :email
          = f.input :password
          = f.button :button do
            Anmelden
            %i.fa.fa-sign-in-alt
    -# .row
    -#   .col-xs-6
    -#     = link_to authentication.user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-danger' do
    -#       %i.fa.fa-google
    -#       Google-Login
    -#   .col-xs-6
    -#     = link_to authentication.user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-primary' do
    -#       %i.fa.fa-facebook
    -#       Facebook-Login
